#click-button {
  padding: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #f7a0a0;
}

#button-div:hover + #list {
  display: block;
}

#list:hover{
  display: block;
}

#list:active{
  display: none;
}

ul{
  list-style: none;
  max-width: 100px;
  margin-top: 1px;
  padding-left: 10px;
}

#list {
  display: none;
}

ul > li {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

li:nth-of-type(1) {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

li:nth-of-type(3) {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
