body{
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  align-items: center;
}

#bg-image{
  object-fit: cover;
  height: 100%;
  width: 100vw;
  max-width: 1600px;
}

#nav-bar {
  background-color: rgba(35, 35, 35, 255);
  height: 68.5px;
  width: 100vw;
  max-width: 1600px;
  align-items: center;
  margin-top: -3px;
 
} 

#nav-bar-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
} 

.items{
  font-size: 19px;
  margin-left: 10px;
  padding:21.5px 23px;
  color: white;
  font-weight: bold;
  font-family: DM Sans;
} 


#logo:hover , .items:hover{
  background-color: rgba(50,50,50,150);
}

.tribute{
  font-family: carattere;
  text-align: center;
  font-size: 40px;
  line-height: 100%;
  margin-top: 70px;
  line-height: 38px;
}

.band-name{
  font-family: coldiac;
  font-weight: bold;
  font-size: 39px;
}

#introduction{
  display: flex;
  max-width: 80%;
  margin: 100px auto;
  overflow: hidden;
  margin-bottom: 0;
}

#about{
  font-family: inter;
  line-height: 160%; /* 22.4px */
  font-size: 14px;
  padding-top: 40px;
  width: 535px;
  text-align: left;
}

figcaption{
  font-family: inter;
  font-size: 1.1rem;
  padding-top: 20px;
  width: 500px;
  padding-left: 233px;
}

#quote-band-name{
  margin-left: 250px;
}

#one-direction-cover{
  object-fit: cover;
  padding-top: 30px;
  width: 390px;
  max-height: 390px;
  padding-left: 230px;
  padding-right: 0;
  margin-right: 0;
}